body {
  font-family: sans-serif;
}
form {
  max-width: 250px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-bottom: 8px;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
span {
  display: block;
  margin-bottom: 2px;
}
input {
  padding: 0;
  margin: 0;
  width: 200px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
}
textarea {
  padding: 0;
  margin: 0;
  width: 200px;
  box-sizing: border-box;
  resize: vertical;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  min-height: 50px;
  max-height: 150px;
}
input[type="checkbox"] {
  width: auto;
}
button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px;
}
