.modal {
  z-index: 4;
  position: fixed;
  inset: 0;
  background: #191b20a9;
  display: none;
}

.modal.modal--open,
.modal--open {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.modal__window {
  position: relative;
  display: none;
  margin-block: 50px;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  box-shadow: 0 0 20px var(--bg-shadow);
}

.modal__window--open {
  display: inline-block;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 24px;
}
